{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="{% url 'checkout' %}" method="post" id="payment-form">
  {% csrf_token %}
  <fieldset class="rounded px-3 mb-4">
    <legend class="small text-black px-2 w-auto">Details</legend>
    {{ order_form.full_name }}
    {{ order_form.email }}
  </fieldset>

  <fieldset class="rounded px-3 mb-4">
    <legend class="small text-black px-2 w-auto">Delivery</legend>
    {{ order_form.phone_number }}
    {{ order_form.street_address1 }}
    {{ order_form.street_address2 }}
    {{ order_form.town_or_city }}
    {{ order_form.postcode }}
    {{ order_form.county }}
    <!-- country rendered plainly (no crispy) -->
    {{ order_form.country }}
  </fieldset>

  <fieldset class="px-3">
    <legend class="small text-black px-2 w-auto">Payment</legend>
    <div id="card-element" class="mb-3"></div>
    <div id="card-errors" role="alert" class="text-danger small"></div>
    <input type="hidden" name="client_secret" value="{{ client_secret }}">
  </fieldset>

  <div class="text-right mt-4">
    <a href="{% url 'view_bag' %}" class="btn btn-outline-dark rounded-0">Adjust Bag</a>
    <button id="submit-button" class="btn btn-dark rounded-0">Complete Order</button>
  </div>
</form>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  {{ stripe_public_key|json_script:"id_stripe_public_key" }}
  {{ client_secret|json_script:"id_client_secret" }}
  <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}